.booklist {
    padding: 3rem 0;
    background-color: #f8f9fa;
}

.booklist-content {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr; /* Default for small devices */
}

/* Responsive Breakpoints */
@media screen and (min-width: 600px) {
    .booklist-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .booklist-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .booklist-content {
        grid-template-columns: repeat(4, 1fr);
    }
}
